/*主页面布局的样式*/

#welcome {
    margin-top: 15px;
    margin-left: 40px;
}

#username {
    margin-bottom: 10px;
}

#layout {
    background-color: #1C5DA5;
    height: 100px;
    margin-top: 0;
}

#hospital-tag {
    left: 200px;
    position: relative;
}

#img_hospital {
    height: 110px;
    position: absolute;
    margin-top: -80px;
}

#hospital {
    color: #ffffff;
    font-size: 28px;
    margin-left: 180px;
    margin-top: 4px;
    position: absolute;
}
